.property-description {
  color: #56677d;
  font-size: 18px;
  line-height: 1.6;
}

.property-description p {
  margin-bottom: 1rem;
}

.property-description h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.property-description li {
  list-style-type: disc;
  margin-left: 20px;
}
